---
import DecorateItemLink from '@/components/templates/DecorateItemLink.astro'
import { type escritosType, getEscritosByTag } from '@/data/collections'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  return await getEscritosByTag()
}

interface Props {
  entries: escritosType[]
  tag: string
}

const { entries, tag } = Astro.props
---

<Layout
  title={`Etiqueta ${tag}`}
  description="Contenido existente filtrado por etiquetas."
>
  <p>Lista de escritos por etiqueta</p>

  <br />

  <div class="flex flex-col gap-4">
    {
      entries.map((entry: escritosType) => (
        <DecorateItemLink
          title={entry.data.title}
          date={entry.data.pubDate}
          href={`/escritos/${entry.id}`}
          tags={entry.data.tags}
        >
          <p class="mb-0">{entry.data.description}</p>
        </DecorateItemLink>
      ))
    }
  </div>
</Layout>
