---
const {job, at, atUrl = "", from, to, end} = Astro.props
---

<div>
  <h4 class="font-medium text-lg">{job} @ {atUrl ? (
    <a href={atUrl} target="_blank" class="hover:underline underline-offset-4 dark:decoration-orange-500">{at}</a>
  ) : (
    <>{at}</>
  )}
  </h4>
  <p class="italic font-light text-zinc-500 mb-2">{from} - {to}</p>

  <div class="pl-4 mb-2">
    <slot />
  </div>
  {!end && (
    <div class="border-b border-b-zinc-400 dark:border-b-orange-500 mb-2"/>
  )}
</div>
