---
import type { ComponentProps } from "astro/types";
import Entry from "@/components/atoms/entry.astro";
import Template from "@/components/layouts/template.astro";
import { getCollectionWithDates } from "@/helpers/time";

// TODO: fix SEO
const description = "pending description";

const metadata: ComponentProps<typeof Template>["meta"] = {
  title: "Projects",
  description,
};

const structuredData: ComponentProps<typeof Template>["structuredData"] = {
  description,
};

const projects = await getCollectionWithDates("projects");
---

<Template meta={metadata} structuredData={structuredData}>
  <h1>Projects</h1>

  <p>
    A technical deep-dive into my most significant projects, covering both past
    and ongoing work with a focus on implementation and lessons learned.
  </p>

  <br>

  <ul class="list-none p-0 space-y-2">
    {projects.map((project) => (
      <li>
        <Entry 
          id={project.id} 
          collection={project.collection} 
          title={project.data.title} 
          description={project.data.description}
        />
      </li>
      ))}
  </ul>
</Template>
