---
import { type CollectionKey } from "astro:content";
import Anchor from "@/components/atoms/anchor.astro";
import { getFormattedDate } from "@/helpers/time";

interface Props {
  id: string;
  collection: CollectionKey;
  title: string;
  description?: string;
  date: Date;
}

const { id, collection, title, date, description } = Astro.props;

const generatePath = (collection: CollectionKey, id: string) => {
  const PATH_MAP: Record<CollectionKey, string> = {
    journals: "journal",
    projects: "projects",
  };

  return `/${PATH_MAP[collection]}/${id}`;
};
---

<small
  ><em
    ><time datetime={date.toISOString()}>{getFormattedDate(date)}</time></em
  ></small
>
<span class="text-lesslight" aria-hidden="true">//</span>
<Anchor class="w-fit" href={generatePath(collection, id)}>{title}</Anchor>
<div>
  <small>{description}</small>
</div>
