---
import type { ComponentProps } from "astro/types";
import Entry from "@/components/atoms/entry.astro";
import Template from "@/components/layouts/template.astro";
import { type EntryWithDates, getCollectionWithDates } from "@/helpers/time";

export async function getStaticPaths() {
  const journals = await getCollectionWithDates("journals");
  const projects = await getCollectionWithDates("projects");

  const allEntries = [...journals, ...projects];

  const uniqueTags = [
    ...new Set(allEntries.flatMap((entry) => entry.data.tags || [])),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredEntries = allEntries.filter((entry) =>
      entry.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { entries: filteredEntries, tag },
    };
  });
}

interface Props {
  entries: (EntryWithDates<"journals"> | EntryWithDates<"projects">)[];
  tag: string;
}

const { entries, tag } = Astro.props;

const metadata: ComponentProps<typeof Template>["meta"] = {
  title: `Etiqueta ${tag}`,
  description: `Entries tagged with: ${tag}.`,
};
---

<Template meta={metadata}>
  <h1>Tag: {tag}</h1>

  <ul class="list-none p-0 space-y-2">
    {entries.map((entry) => (
      <li>
        <Entry 
          id={entry.id} 
          collection={entry.collection} 
          title={entry.data.title} 
          description={entry.data.description}
          date={entry.collection === "projects" ? undefined : entry.data.created}
        />
      </li>
    ))}
  </ul>
</Template>
