---
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'

import Link from '@/components/generic/Link.astro'
import Layout from '@/layouts/Layout.astro'
import { getEscritosById } from '@/utils/collections'

type entryType = CollectionEntry<'escritos'>

export async function getStaticPaths() {
  return await getEscritosById()
}

interface Props {
  entry: entryType
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<Layout title={entry.data.title} description={entry.data.description}>
  <Content />

  <br />

  <aside>
    <div class="flex flex-col gap-0.5">
      <small>
        Este escrito fue publicado el{' '}
        <b>{entry.data.pubDate.toLocaleDateString()}</b> y fue actualizado por última
        vez el <b>{entry.data.lastMod.toLocaleDateString()}</b>.
        {
          entry.data.tags &&
            entry.data.tags.length > 0 &&
            ' Contiene las etiquetas: '
        }
        {
          entry.data.tags &&
            entry.data.tags.length > 0 &&
            entry.data.tags.map((tag: string) => {
              return (
                <Link class="capitalize" href={`/etiqueta/${tag}`}>
                  {`${tag}`}
                </Link>
              )
            })
        }
      </small>
    </div>
  </aside>
</Layout>
