---
import DecorateItemLink from '@/components/templates/DecorateItemLink.astro'
import Layout from '@/layouts/Layout.astro'
import { type escritosType, getAllEscritos } from '@/utils/collections'

const entries = await getAllEscritos()
---

<Layout
  title="Escritos"
  description="Ocurrencias que creo que valen la pena ser compartidas."
>
  <p>Lista de escritos.</p>

  <br />

  <div class="flex flex-col gap-4">
    {
      entries.map((entry: escritosType) => (
        <DecorateItemLink
          title={entry.data.title}
          date={entry.data.pubDate}
          href={`/escritos/${entry.id}`}
          tags={entry.data.tags}
        >
          <p class="mb-0">{entry.data.description}</p>
        </DecorateItemLink>
      ))
    }
  </div>
</Layout>
